.pagination {
  margin: 0 auto;
  padding: 0;
  width: auto;
  display: flex;
  justify-content: center;
  list-style: none;
}
.pagination a{
  display: block;
  padding: 5px 10px;
  background: #000000;
  text-decoration: none;
  min-height: 25px;
  border: 1px solid #303030;
  color: #fff;
}
.pagination a:hover{
  background: #4d4d4d;
}
.pagination .active a{
  background: #4d4d4d
}
.pagination li{
  margin: 5px;
}
