.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.search-form input{
    border: 1px solid #000000;
    background: #fff;
    padding: 4px 4px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-form button{
    display: block;
    padding: 5px 10px;
    background: #000000;
    text-decoration: none;
    min-height: 25px;
    border: 1px solid #303030;
    color: #fff;
    cursor: pointer;
}
.search-form button:hover{
    background: #4d4d4d;
}
.search-form-title{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.search-form-inputs{
    display: flex;
    align-items: flex-end;
}

.search-form-inputs div {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

}