.editModal{
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
.editModal-wrp{
    margin: auto;
    width: 500px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;

}
.editModal p{
    margin: 4px 0;
    margin-top: 10px;
}
.editModal input{
    width: 100%;
    border: 1px solid #000000;
    background: #fff;
    padding: 4px 4px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.editModal button{
    display: block;
    padding: 5px 10px;
    background: #000000;
    text-decoration: none;
    min-height: 25px;
    border: 1px solid #303030;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.editModal button:hover{
    background: #4d4d4d;
}
.editModal-btns{
    display: flex;
    justify-content: center;

}