.table{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.table tr{
    background: #dddddd;
    border-bottom: 1px solid #4d4d4d;
}
.table td{
    border: none;
    padding: 5px 10px;
}

.table input {
    width: 100%;
}
.table button{
    display: block;
    padding: 5px 10px;
    margin: 0 auto;
    background: #000000;
    text-decoration: none;
    min-height: 25px;
    border: 1px solid #303030;
    color: #fff;
    cursor: pointer;
}